body {
	 min-height: 100vh;
	 background-color: #22151f;
	 background-image: url(../images/revised_mado_login_bg.jpg);
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-size: cover;
}
@media (min-width: 700px) {
    .container{
        max-width: 950px;
    }
}
@media (min-width: 1280px) {
    .container{
        max-width: 1600px;
    }
	.cellname
	{
		font-size:2rem;
	}
	.logowidth
	{
		width:40%;
		margin-top:10px;
	}
	.topicheader
	{
		font-size:2rem;
	}
	.cellcontainer
	{
		border:2px solid white;
		border-radius: 3px;
		margin:3px;
		height:365px;
		
	}
	.celltopic
	{
		border-radius: 3px;
		background-color:white;
		padding:2.5px;
		font-weight:600;
	}
	.cellcontent
	{
		font-size:9rem;
		font-weight:350;
		color:white;
	}
	.get_pit_content
	{
		width:100%;
		position:fixed;
	}
	table.get_pit_content thead tr th
	{
		font-size:28px;
		
	}
	table.get_pit_content tbody tr td.machine_name
	{
		font-size:28px;
		
	}
	table.get_pit_content tbody tr.machines-4 td button
	{
		font-size:20px;
		
	}
	table.get_pit_content tbody tr.machines-5 td button
	{
		font-size:18.5px;
		
	}
	table.get_pit_content tbody tr td i.icons
	{
		font-size:20px;
		
	}
	.btn-npi
	{
	color: #fff;
    background-color: orchid;
    border-color: #343a40;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
	}
	
}
@media (min-width: 1305px) and (min-height: 734px) {
    .container{
        max-width: 1600px;
    }
	.cellname
	{
		font-size:2rem;
	}
	.logowidth
	{
		width:40%;
		margin-top:10px;
	}
	.topicheader
	{
		font-size:2rem;
	}
	.cellcontainer
	{
		border:2px solid white;
		border-radius: 3px;
		margin:3px;
		height:304px;
		
	}
	.celltopic
	{
		border-radius: 3px;
		background-color:white;
		padding:2.5px;
		font-weight:600;
	}
	.cellcontent
	{
		font-size:9rem;
		font-weight:350;
		color:white;
	}
	.get_pit_content
	{
		width:100%;
		position:fixed;
	}
	table.get_pit_content thead tr th
	{
		font-size:28px;
		
	}
	table.get_pit_content tbody tr td.machine_name
	{
		font-size:28px;
		
	}
	table.get_pit_content tbody tr.machines-4 td button
	{
		font-size:20px;
		
	}
	table.get_pit_content tbody tr.machines-5 td button
	{
		font-size:18.5px;
		
	}
	table.get_pit_content tbody tr td i.icons
	{
		font-size:20px;
		
	}
	.btn-npi
	{
	color: #fff;
    background-color: orchid;
    border-color: #343a40;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
	}
	
	
}
@media (min-width: 1920px) and (max-height: 1080px) {
    .container{
        max-width: 2570px;
    }
	.cellname
	{
		font-size:4.5rem;
	}
	.logowidth
	{
		width:50%;
		margin-top:15px;
	}
	.topicheader
	{
		font-size:4rem;
	}
	.cellcontainer
	{
		border:3px solid white;
		border-radius: 7px;
		margin:5px;
		height:445px;
		
	}
	.celltopic
	{
		border-radius: 5px;
		background-color:white;
	}
	.cellcontent
	{
		font-size:12rem;
		font-weight:400;
		color:white;
	}
	.get_pit_content
	{
		width:100%;
		position:fixed;
	}
	table.get_pit_content thead tr th
	{
		font-size:35px;
		
	}
	table.get_pit_content tbody tr td.machine_name
	{
		font-size:38px;
		
	}
	table.get_pit_content tbody tr.machines-4 td button
	{
		font-size:32px;
		
	}
	table.get_pit_content tbody tr.machines-5 td button
	{
		font-size:30px;
		
	}
	table.get_pit_content tbody tr td i.icons
	{
		font-size:30px;
		
	}
	.btn-npi
	{
	color: #fff;
    background-color: orchid;
    border-color: #343a40;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
	}
}


	
}
@media (min-width: 1920px) and (max-height: 949px){
    .container{
        max-width: 2570px;
    }
	.cellname
	{
		font-size:4.5rem;
	}
	.logowidth
	{
		width:50%;
		margin-top:15px;
	}
	.topicheader
	{
		font-size:4rem;
	}
	.cellcontainer
	{
		border:3px solid white;
		border-radius: 7px;
		margin:5px;
		height:354px;
		
	}
	.celltopic
	{
		border-radius: 5px;
		background-color:white;
	}
	.cellcontent
	{
		font-size:12rem;
		font-weight:400;
		color:white;
	}
}
@media (min-width: 4000px) {
  .container{
        max-width: 4170px;
    }
   .cellname
	{
		font-size:10rem;
	}
	.logowidth
	{
		width:60%
	}
	.topicheader
	{
		font-size:8.5rem;
		
	}
	.cellcontainer
	{
		border:5px solid white;
		border-radius: 30px;
		margin:10px;
		height:891px;
		
	}
	.celltopic
	{
		border-radius: 30px;
		background-color:white;
		
	}
	.cellcontent
	{
		font-size:22rem;
		font-weight:600;
		color:white;
	}
	.qualityticket
	{
		height:600%;
		width:450%;
	}
	
	.get_pit_content
	{
		width:100%;
		position:fixed;
	}
	table.get_pit_content thead tr th
	{
		font-size:80px;
		
	}
	table.get_pit_content tbody tr td.machine_name
	{
		font-size:80px;
		
	}
	table.get_pit_content tbody tr.machines-4 td button
	{
		font-size:70px;
		
	}
	table.get_pit_content tbody tr.machines-5 td button
	{
		font-size:58px;
		
	}
	table.get_pit_content tbody tr td i.icons
	{
		font-size:55px;
		
	}
	.btn-npi
	{
	color: #fff;
    background-color: orchid;
    border-color: #343a40;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
	}
}




 .choose-content {
	 display: flex;
	 font-size: 1.6em;
}
 .choose-content.cell-select {
	 flex-direction: column;
	 background: #413a3a;
}
 .choose-content.cell-select .card-body {
	 background: #fed552;
	 background: -moz-linear-gradient(-45deg, #fed552 0%, #fff 91%);
	 background: -webkit-linear-gradient(-45deg, #fed552 0%, #fff 91%);
	 background: linear-gradient(135deg, #fed552 0%, #fff 91%);
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed552', endColorstr='#ffffff',GradientType=1);
	 justify-content: center;
}
 .choose-content.board-select {
	 width: 96%;
	 float: right;
	 height: 78vh;
	 margin-top: 3vh;
	 justify-content: space-evenly;
	 flex-direction: row;
}
 .choose-content.board-select .buttons {
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
}
 .choose-content.board-select .buttons.choose-queue .btn {
	 font-size: 1.5em;
	 padding: 2rem 0.5rem;
}
 .choose-content.board-select .buttons .btn.choose-count span {
	 float: right;
	 padding: 0 0.5rem;
	 border-radius: 1rem;
	 margin-right: 0.5rem;
}

 .choose-content .btn.machine-names {
	 font-size: 1.2em;
}
 .choose-content .btn {
	 font-size: 2em;
	 padding: 1.5rem 0.5rem;
}
 .choose-content .card-body {
	 margin: 0.2em 1em 1.5em;
	 padding: 0 1.5em;
}

.header
{
	background-color: #442136;
    
}
 