
@media (min-width: 1305px) and (min-height: 734px) {
    .materialcontent{
        max-height: 355px;
		overflow:hidden
    }
	
	.btn
	{
		padding:0.175rem 0.25rem;
	}
	.materialcontent1
	{
		max-height: 404px;
	}
	
}

 